.headerContainer {
  width: 100%;
  max-width: 1440px;
  height: 400px;

  margin-bottom: 80px;


  img {
    width: 100%;
    height: 400px;
  }
}

.mainContainer {
  width: 100%;
  max-width: 721px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  h1 {
    height: 58px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: var(--heading);

    /* identical to box height */
    letter-spacing: -0.5px;
  }

}

.mainContainer .iconContainer {
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  margin: 25px 0;

  div {
    display: flex;
    align-items: center;

    // margin-right: 1.5rem;
    width: 10.400rem;
    height: 1.25rem;

    span {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
    }

    svg {
      margin-right: 0.656rem;
      width: 1rem;
      height: 1rem
    }

  }
}

.content {
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;

    text-align: justify;
    margin: 4rem 0;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 2rem;

    text-align: justify;
  }
}
